/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-timeline-container {
	min-height: 60px;
}

button.components-button.block-list-appender__toggle.block-editor-button-block-appender.is-next-40px-default-size {
	display: block !important;
}

div.wp-block-timeline-container > ul {
	list-style-type:none;
}
