.mcbook-scroll-block-txBox {
	background-color: rgba(255, 255, 255, 0.5);
	padding:  5px;
	margin: 0 auto;
	position: absolute;
	bottom: 25%;
	left: 43%;
}

.mcbook-scroll-block-mcBookBgr {
	background-image: url('./macbook.png');
	background-size: cover;
	background-position: center;
	min-height: 474px;
	padding-top: 12px;
}
