.np-tab {
	display: none !important;

	&.is-active {
		display: block !important;
	}
}

.block-editor-block-list__layout > .np-tab:first-child:not(.is-active) {
	display: block;
	opacity: 0.6;
}

.block-editor-block-list__layout > .np-tab.is-active ~ .np-tab:first-child {
	display: none;
}
